git "https://github.com/Moya/Moya" "12.0.0-beta.1"
github "onevcat/Kingfisher" "master"
git "https://github.com/alibaba/HandyJSON" "master"
github "devxoul/UINavigationItem-Margin"
git "https://github.com/Aite/ESTabBarController" "swift-4.2"
github "xmartlabs/XLPagerTabStrip"
github "krimpedance/KRProgressHUD"
github "Daltron/NotificationBanner" "master"
git "https://github.com/phpmaple/NBLCommonModule" "master"
git "https://github.com/hackiftekhar/IQKeyboardManager" "v6.1.1"
github "ReSwift/ReSwift"
github "mac-cain13/R.swift.Library"
github "SwiftyJSON/SwiftyJSON" ~> 4.0
github "krzyzanowskim/CryptoSwift"
github "ArtSabintsev/Guitar"
git "https://github.com/radex/SwiftyUserDefaults" "4.0.0-alpha.1"
github "ra1028/DifferenceKit"
github "marmelroy/Localize-Swift"
github "Nirma/UIFontComplete"
github "yannickl/AwaitKit"
github "rushisangani/BiometricAuthentication"
github "SwifterSwift/SwifterSwift"
github "malcommac/Repeat"
github "roberthein/TinyConstraints"
github "malcommac/SwiftRichString"
github "IcaliaLabs/Presentr"
github "EyreFree/EFQRCode"
github "KennethTsang/GrowingTextView" ~> 0.6
github "exyte/Macaw"
github "eggswift/pull-to-refresh"
github "Ekhoo/Device" ~> 3.1.2
github "SwiftyBeaver/SwiftyBeaver"
github "MoZhouqi/KMNavigationBarTransition"
github "kishikawakatsumi/UICKeyChainStore"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"

github "pocketsvg/PocketSVG" ~> 2.0
github "kishikawakatsumi/KeychainAccess"
github "malcommac/SwiftDate"
github "sberrevoets/SDCAlertView"
github "nixzhu/MonkeyKing"
github "ElaWorkshop/TagListView" ~> 1.0
github "ashleymills/Reachability.swift"
binary "https://nbltrust.github.io/eos-ios-core-cpp/Carthage/iOS/eos-ios-core-cpp.json"
binary "https://nbltrust.github.io/gemma-ios-lib-spec/Carthage/iOS/iOS_EWalletDynamic.json"
binary "https://nbltrust.github.io/gemma-ios-lib-spec/Carthage/iOS/Seed39.json"